# HTTP server
#
server {
    listen      80;
    server_name {{getenv "LETSENCRYPT_DOMAIN"}};
    access_log /var/log/nginx/http.log;

    location '/.well-known/acme-challenge' {
        default_type "text/plain";
        alias /var/www/letsencrypt;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}